/*  */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 100vw;
  height: 100vh;
}

#place-boats-text-container {
  position: absolute;
  left: 360px;
  top: 80px;
}

#welcome-text {
  margin: 0;
}

#ship-text {
  color:brown;
}

#place-your-boats {
  width: 90vw;
  height: 90vh;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.text-banner, #text-container-computer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(233 91 91);
  height: 35px;
  width: 300px;
  margin: 0 auto;
}

.text-banner > h4 {
  margin: 0;
  color: white;
}

.text-banner #rotate-button {
  border: 1px solid white;
  padding: 2px;
  cursor: pointer;
  background-color: rgb(73, 72, 72);
}

#player-board-grid, #computer-board-grid {
  display: grid;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  grid-template-columns: repeat(10, 1fr);
  background-color: aqua;
}

.grid-content, .grid-content-computer {
  border: 0.2px solid black;
  /* margin: 4px; */
}

.grid-content-colored {
  background-color: blue;
}

.ship-here {
  background-color: brown;
}
